<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{BaseLayout/layout}">
<head>
<meta charset="UTF-8">
<title>Recovery</title>
<style>
.form-actions {
	margin: 0;
	text-align: center;
}

hr.broad {
	border: 2px solid;
}

hr.solidarea {
	border: 0.5px solid;
}
</style>

</head>
<body>
	<div id="page-wrapper" layout:fragment="content">
		<!-- <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="indexwithsm">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">Form
					Title</li>
			</ol>
		</nav> -->
		<div class="card shadow mb-4 mt-2">
			<div class="card-header custom-smile-form-header">
	
                Recovery System Entry
					
				
						<button type="button"
							class="btn  custom-smile-btn-light float-right"
							data-toggle="modal" data-target="#myModal">
							<i class="fas fa-question-circle"></i>
						</button>
					

				
			</div>
			<div class="card-body">
				<!-- Page Heading -->


				<!-- Nested Row within Card Body -->
				<div class="row">
					<div class="col-lg-12">
						<form action="#" th:action="@{/newRecoveryDetails1}" th:object="${recoveryDetailsList}"
						method="post">

							<div class="card section-border-left-primary mb-4 mt-3">

								<div class="card-header custom-smile-form-subsection-header">		
                                    Recovery Master
								</div>
								<!-- Card Content - Collapse -->

								<div class="card-body">

									<div class="form-group row ml-1 mr-1">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="custom-smile-form-label">Recovery Amount<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input type="number" th:field="*{recoveryAmount}"
                                                class="form-control" placeholder="Enter Recovery Amount"/>
                                            <span th:errors="*{recoveryAmount}" style="color: red"
                                                th:errorclass="form-field-error"></span>
										</div>
										<div class="col-sm-6 mb-3 mb-sm-0" hidden="hidden">
											<label class="custom-smile-form-label">Recovery Instance<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input type="number" th:field="*{recoveryInstance}"
                                                class="form-control" placeholder="Enter Recovery Amount"/>
                                            <span th:errors="*{recoveryInstance}" style="color: red"
                                                th:errorclass="form-field-error"></span>
										</div>
										
                                    </div>
                                  

                                        <div class="form-group row ml-1 mr-1">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="custom-smile-form-label">Date Of Recovery<span
                                                    class="text-danger">&nbsp;&nbsp;*</span></label> <input type="date" th:field="*{dateOfRecovery}"
                                                    class="form-control" placeholder="Enter Date Of Recovery"/>
                                                <span th:errors="*{dateOfRecovery}" style="color: red"
                                                    th:errorclass="form-field-error"></span>
                                            </div>
                                            
                                        </div>
                                       

                                            <!-- <div class="form-group row ml-1 mr-1">
                                                <div class="col-sm-6 mb-3 mb-sm-0">
                                                    <label class="custom-smile-form-label">Transaction Id<span
                                                        class="text-danger">&nbsp;&nbsp;*</span></label> <input type="text" th:field="*{claimNo}"
                                                        class="form-control" placeholder="Enter Claim No"/>
                                                    <span th:errors="*{claimNo}" style="color: red"
                                                        th:errorclass="form-field-error"></span>
                                                </div>
                                                
                                            </div>
                                            -->

                                                <div class="form-group row ml-1 mr-1">
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label class="custom-smile-form-label">DCA Charge<span
                                                            class="text-danger">&nbsp;&nbsp;*</span></label> <input type="text" th:field="*{dcaCharge}"
                                                            class="form-control" placeholder="Enter DCA Charge"/>
                                                        <span th:errors="*{dcaCharge}" style="color: red"
                                                            th:errorclass="form-field-error"></span>
                                                    </div>
                                                    
                                                </div>

                                   
                                <div class="form-group row ml-1 mr-1">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="custom-smile-form-label">Remarks<span
                                            class="text-danger">&nbsp;&nbsp;*</span></label><textarea placeholder="Enter Remarks Here.." rows="3" th:field="*{remarks}"
                                            class="form-control"></textarea>
                                    </div>
                                    
                                </div>
                                 
								</div>

                            </div>
                          <div class="form-actions mt-1">
								<input type="submit" class="btn btn-primary" value="Submit"></input>
								<a class="btn custom-smile-btn-cancel " th:href="@{/back}" type="button">
                            
                            </span> <span class="text">Cancel</span>
                        </a>
							</div>
							
						</form>
					</div>
				</div>
			</div>
		</div>


		<div class="modal fade" id="myModal" role="dialog">
			<div class="modal-dialog modal-lg">
				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header bg-light">
						<h4 class="modal-title" style="color: black;">This is Modal
							For help</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">

						<div class="form-group row">
							<div class="col-sm-12 mb-3 mb-sm-0">Content regarding Help
								goes here</div>
						</div>


					</div>
					<!--end of modal body-->
					<div class="modal-footer">

						<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
					</div>
				</div>
				<!--end of modal-content-->

			</div>
		</div>
	</div>
			<th:block layout:fragment="scripts">
            <script>
                function ShowHideDiv() {
                    var chkYes = document.getElementById("chkYes");
                    var chkNo = document.getElementById("chkNo");
                    var dvPassport = document.getElementById("writeoff");
                    dvPassport.style.display = chkYes.checked ? "block" : "none";
                    var dvPassport1 = document.getElementById("writeoff1");
                    dvPassport1.style.display = chkYes.checked ? "block" : "none";
                    var dvPassport2 = document.getElementById("writeoff2");
                    dvPassport2.style.display = chkYes.checked ? "block" : "none";
                    var chkYess = document.getElementById("chkYes1");
                    var chkNoo = document.getElementById("chkNo1");
                    // if((chkYes.checked||chkNo.checked)==true)
                    // {
                    // chkNoo.disabled="disabled";
                    // chkYess.disabled="disabled";
                    // }
                    // }
                    // else
                    // {
                    // 	chkNoo.checked="checked";
                    // 	chkNo.checked="checked";
                    // }
                    // var dvPassport3 = document.getElementById("writeoff3");	
                    // dvPassport3.style.display = chkYes.checked|| chkNo.checked? "none" : "block";
                    
                }
                    
                function ShowHideDiv1() {
                    var chkYess = document.getElementById("chkYes1");
                    var chkNoo = document.getElementById("chkNo1");
                    var dvPassportt = document.getElementById("blockedfund");
                    dvPassportt.style.display = chkYess.checked ? "block" : "none";
                    var dvPassport1 = document.getElementById("blockedfund1");
                    dvPassport1.style.display = chkYess.checked ? "block" : "none";
                    var dvPassport2 = document.getElementById("blockedfund2");
                    dvPassport2.style.display = chkYess.checked ? "block" : "none";
                     var chkNo = document.getElementById("chkNo");
                     var chkYes = document.getElementById("chkYes");
                    // chkNoo.setAttribute("checked","checked");
                    // var chkYes = document.getElementById("chkYes");
                    // var chkNo = document.getElementById("chkNo");
                    // if((chkNoo.checked&&chkNo.checked)==false)
                    // {
                    // chkNo.checked=chkYess.checked?"true":""	;
                    // chkYes.disabled=chkYess.checked?"true":""	;
                    // }
                    // else
                    // {
                    // 	chkNoo.checked="checked";
                    // 	chkNo.checked="checked";
                    // }
                    // if((chkYess.checked||chkNoo.checked)==true)
                    // {
                    // chkNo.disabled="disabled";
                    // chkYes.disabled="disabled";
                    // }
                    // var dvPassport3 = document.getElementById("blockedfund3");	
                    // dvPassport3.style.display = chkYess.checked|| chkNoo.checked? "none" : "block";
                }
                function removeRow(oButton) {
                var empTab = document.getElementById('tab_logic');
                empTab.deleteRow(oButton.parentNode.parentNode.rowIndex); // buttton -> td -> tr
            }
        
                
            // 	$("Document").ready(function(){
            // $("#btn1").live("click",function(){
            // 	alert("kchbhi")
            //     $(this).parent().parent().remove(); 
            //        })
            // 	   })
            function addField(argument) {


var myTable = document.getElementById("tab_logic");
var currentIndex = myTable.rows.length;
currentIndex--;
var currentRow = myTable.insertRow(-1);


var RecoveryAmountBox = document.createElement("input");
RecoveryAmountBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].recoveryAmount');
RecoveryAmountBox.setAttribute("class", 'form-control');
RecoveryAmountBox.setAttribute("placeholder", 'Recovery Amount');


var DateOfRecoveryBox = document.createElement("input");
DateOfRecoveryBox.setAttribute("type", "date");
DateOfRecoveryBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].dateOfRecovery');
DateOfRecoveryBox.setAttribute("class", 'form-control');
DateOfRecoveryBox.setAttribute("placeholder", 'Date Of Recovery');

var TransactionIdBox = document.createElement("input");
TransactionIdBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].transactionId');
TransactionIdBox.setAttribute("class", 'form-control');
TransactionIdBox.setAttribute("placeholder", 'Transaction Id');

var DCAIdBox = document.createElement("input");
DCAIdBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].dcaId');
DCAIdBox.setAttribute("class", "form-control");
DCAIdBox.setAttribute("placeholder", 'DCA Id');
var button = document.createElement('button');
button.setAttribute('type', 'button');
button.setAttribute("class", "btn custom-smile-btn-verify mr-1 ml-1");
button.setAttribute('onclick', 'removeRow(this)');
button.innerHTML='Remove';



var DCAChargeBox = document.createElement("input");
DCAChargeBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].dcaCharge');
DCAChargeBox.setAttribute("class", "form-control");
DCAChargeBox.setAttribute("placeholder", 'DCA Charge');

var YesRadiobuttonDiv = document.createElement("div");
YesRadiobuttonDiv.setAttribute("class", "form-check-inline");
var lableYes = document.createElement("label");
lableYes.setAttribute("class", "form-check-label");
var textYes = document.createTextNode("Yes");

var YesIsRecoverBeforeClaimSettlementBox = document.createElement("input");
YesIsRecoverBeforeClaimSettlementBox.setAttribute("type", "radio");
YesIsRecoverBeforeClaimSettlementBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].isRecoveryBeforeClaimSettlement');
YesIsRecoverBeforeClaimSettlementBox.setAttribute("class", "form-check-input");
YesIsRecoverBeforeClaimSettlementBox.setAttribute("value", "Yes");

lableYes.appendChild(YesIsRecoverBeforeClaimSettlementBox);
lableYes.appendChild(textYes);
YesRadiobuttonDiv.appendChild(lableYes);

var NoRadiobuttonDiv = document.createElement("div");
NoRadiobuttonDiv.setAttribute("class", "form-check-inline");
var lableNo = document.createElement("label");
lableNo.setAttribute("class", "form-check-label");
var textNo = document.createTextNode("No");

var NoIsRecoverBeforeClaimSettlementBox = document.createElement("input");
NoIsRecoverBeforeClaimSettlementBox.setAttribute("type", "radio");
NoIsRecoverBeforeClaimSettlementBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].isRecoveryBeforeClaimSettlement');
NoIsRecoverBeforeClaimSettlementBox.setAttribute("class", "form-check-input");
NoIsRecoverBeforeClaimSettlementBox.setAttribute("value", "No");

lableNo.appendChild(NoIsRecoverBeforeClaimSettlementBox);
lableNo.appendChild(textNo);
NoRadiobuttonDiv.appendChild(lableNo);
var MainRadiobuttonDiv = document.createElement("div");
MainRadiobuttonDiv.appendChild(YesRadiobuttonDiv);
MainRadiobuttonDiv.appendChild(NoRadiobuttonDiv);


var RemarksBox = document.createElement("input");
RemarksBox.setAttribute("name", 'recoveryDetailsList[' + currentIndex + '].remarks');
RemarksBox.setAttribute("class", "form-control");
RemarksBox.setAttribute("placeholder", 'Remarks');

var currentCell = currentRow.insertCell(0);
currentCell.appendChild(RecoveryAmountBox);

currentCell = currentRow.insertCell(1);
currentCell.appendChild(DateOfRecoveryBox);



currentCell = currentRow.insertCell(2);
currentCell.appendChild(DCAIdBox);

currentCell = currentRow.insertCell(3);
currentCell.appendChild(DCAChargeBox);



currentCell = currentRow.insertCell(4);
currentCell.appendChild(RemarksBox);
currentCell = currentRow.insertCell(5);
currentCell.appendChild(button);  




}  
        </script>
	</th:block>
</body>
</html>