<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{BaseLayout/layout}">
<head>
<meta charset="UTF-8">
<title>PEB Policy</title>
<style>
.form-actions {
	margin: 0;
	text-align: center;
}

.close {
	float: right;
	display: inline-block;
	padding: 2px 5px;
	background: #ccc;
	cursor: pointer;
}
</style>
</head>
<body>
	<div id="page-wrapper" layout:fragment="content">

			<nav aria-label="breadcrumb">
				<ol class="breadcrumb">
					<li class="breadcrumb-item"><a href="indexwithsm">Home</a></li>
					<li class="breadcrumb-item active" aria-current="page">Recovery Entry</li>
				</ol>
			</nav>
			<div class="card shadow mb-4 mt-2 bkg-color">

				<!--card header-->
				<div class="card-header">
					<span class="custom-smile-form-header" id="datatables">Recovery Entry</span>
				</div>
				<!--end of card header-->
				<div class="card-body">
					<div class="row my-2">
						<div class="col-lg-12 order-lg-2">
						<ul class="nav nav-pills">
							<li class="nav-item"><a id="1" data-toggle="tab"
								href="#RecoveryMaster" class="nav-link active">Recovery Master</a></li>

							<li class="nav-item"><a data-toggle="tab" id="2"
								href="#BlockedFundDetails" class="nav-link">BlockedFund Details</a></li>
								<li class="nav-item"><a data-toggle="tab" id="3"
								href="#WriteOffDetails" class="nav-link">Write-Off Details</a></li>
							
							
							
						</ul>
						<div class="tab-content py-4">
							<div class="tab-pane active" id="RecoveryMaster">
								<!-- Basic Proposal Success Message -->
								<div class="form -group row"
									th:if="${BasicProposalDetailsFlag == 'success'}"
									id="divRegSuccess">
									<div class="col-sm-5 mb-sm-0">
										<div class="alert alert-success">Basic Proposal Details
											Saved Successfully</div>
									</div>
								</div>
						<form action="#" id="f"  th:object="${pebPolicyRecoveryMasterBean}"
						method="post">

						<div class="card card-body">

							
								<!-- Card Content - Collapse -->


									<div class="form-group row ">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="custom-smile-form-label">Claim No<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input type="text" th:field="*{claimNo}"
                                                class="form-control" placeholder="Enter Claim No"/>
                                            <span th:errors="*{claimNo}" style="color: red"
                                                th:errorclass="form-field-error"></span>
										</div>
										
									</div>

									<div class="form-group row ">
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="custom-smile-form-label">Recovery Initiated Date<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input type="date"
                                                th:field="*{recoveryInitiatedDate}" class="form-control" />
                                            <span th:errors="*{recoveryInitiatedDate}" style="color: red"
                                                th:errorclass="form-field-error"></span>
                                        </div>
                                        <div class="col-sm-6 mb-3 mb-sm-0">
											<label class="custom-smile-form-label">Status<span
												class="text-danger">&nbsp;&nbsp;*</span></label><select th:field="*{status}" class="form-control">
                                                    <option value="">----Please Select------</option>
                                                    <option value="active">Active</option>
                                                    <option value="inactive">Inactive</option>
                                                    <option value="partial">Partial</option>
                                                </select>
                                                <span th:errors="*{status}" style="color: red"
                                                    th:errorclass="form-field-error"></span>
										</div>
										
                                    </div>
                                   
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="custom-smile-form-label">Remarks<span
                                            class="text-danger">&nbsp;&nbsp;*</span></label><textarea placeholder="Enter Remarks Here.." rows="3" th:field="*{remarks}"
                                            class="form-control"></textarea>
                                    </div>
                                    
                                </div>
                                  <div class="form-actions mt-1">
								<input type="submit" class="btn btn-primary" formaction="/addRecoveryDetailsList" value="Submit"></input>
							</div>
							
								<div class="form-group row">
					</div>
<div class="form-actions mt-1">
								
					
					</div>
					 
					</div>
                         
                        </form>
                      	<button type="submit" formaction="/addRecovery" class="btn custom-smile-btn-download ml-1 mr-1" form="f" id="addButton" value="add recovery details">
						add recovery details</button >													
		
							<!--start of modal related to add new record-->
						
		<div class="modal fade" id="addModal" role="dialog">
			<form action="#" th:action="@{/addRecoveryDetails}" th:object="${pebPolicyRecoveryDetailsBean}"
						method="post">
			<div class="modal-dialog modal-lg">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header bg-light">
						<h4 class="modal-title custom-smile-form-header"
							style="color: black;">Add Recovery Details</h4>
						<button type="button" class="close" data-dismiss="modal">&times;</button>
					</div>
					<div class="modal-body">
										
									<div class="form-group row ml-1 mr-1">
										
										<div class="col-sm-6 mb-3 mb-sm-0">
											<label class="custom-smile-form-label">Recovery Amount<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input id="recoveryAmount1" type="number" th:field="*{recoveryAmount}"
                                                class="form-control" placeholder="Enter Recovery Amount"/>
                                            <span th:errors="*{recoveryAmount}" style="color: red"
                                                th:errorclass="form-field-error"></span>
										</div>
										 <div class="col-sm-6 mb-3 mb-sm-0">
                                                <label class="custom-smile-form-label">Date Of Recovery<span
                                                    class="text-danger">&nbsp;&nbsp;*</span></label> <input id="dateOfRecovery1" type="date" th:field="*{dateOfRecovery}"
                                                    class="form-control" placeholder="Enter Date Of Recovery"/>
                                                <span th:errors="*{dateOfRecovery}" style="color: red"
                                                    th:errorclass="form-field-error"></span>
                                            </div>
										
										
                                    </div>
                                    	<div class="form-group row ml-1 mr-1">
                                  
												<div class="col-sm-6 mb-3 mb-sm-0" hidden="hidden">
											<label class="custom-smile-form-label">Recovery Instance<span
												class="text-danger">&nbsp;&nbsp;*</span></label> <input type="number" th:field="*{recoveryInstance}" id="recoveryInstance1"
                                                class="form-control" placeholder="Enter Recovery Amount"/>
                                            <span th:errors="*{recoveryInstance}" style="color: red"
                                                th:errorclass="form-field-error"></span>
										</div>
										  </div>
                                        <div class="form-group row ml-1 mr-1">
                                           
                                            
                                       
                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                        <label class="custom-smile-form-label">DCA Charge<span
                                                            class="text-danger">&nbsp;&nbsp;*</span></label> <input type="text" th:field="*{dcaCharge}" id="dcaCharge1"
                                                            class="form-control" placeholder="Enter DCA Charge"/>
                                                        <span th:errors="*{dcaCharge}" style="color: red"
                                                            th:errorclass="form-field-error"></span>
                                                    </div>
                                                     <div class="col-sm-6 mb-3 mb-sm-0">
                                        <label class="custom-smile-form-label">Remarks<span
                                            class="text-danger">&nbsp;&nbsp;*</span></label><textarea placeholder="Enter Remarks Here.." rows="3" id="remarks1" th:field="*{remarks}"
                                            class="form-control"></textarea>
                                    </div>
                                                    
                                                </div>

                                   
                                <div class="form-group row ml-1 mr-1">
                                   
                                    
                                </div>
                                 
						 <div class="form-actions mt-1">
								<input type="submit" class="btn btn-primary" value="Submit"></input>
								<a class="btn custom-smile-btn-cancel " th:href="@{/back}" type="button">
                            
                           <span class="text">Cancel</span>
                        </a>
							</div>
					</div>
					<!--end of modal body-->
					
					
					
				</div>
				<!--end of modal-content-->

			</div>
			</form>
			
		</div>
		<!--end of modal-->
							
							
							</div>
							
								
									<div class="tab-pane" id="BlockedFundDetails">
									 <form action="#" th:action="@{/addRecoveryDetailsList1}" th:object="${pebPolicyBlockedFundBean}"
						method="post">
							  <div class="form-group row ml-1 mr-1">
                               
                                <div class="custom-radio custom-control ml-2 mr-2" id="writeoff3" style="display: block;">
                                    <label class="custom-smile-form-label">Is Blocked Fund</label>
                                    <div class="custom-radio custom-control ml-2 mr-2">
                                        <input type="radio" th:field="*{IsBlockedFund}" id="chkYes1" onclick="ShowHideDiv1()"
                                        value="Yes" class="custom-control-input">
                                        <label class="custom-control-label" for="chkYes1">Yes</label>
                                    </div>
                                    <div class="custom-radio custom-control ml-2 mr-2">
                                        <input type="radio"th:field="*{IsBlockedFund}" id="chkNo1" onclick="ShowHideDiv1()"
                                        value="No" class="custom-control-input">
                                        <label class="custom-control-label" for="chkNo1">No</label>
                                    </div>
                                    <span th:errors="*{global}" style="color: red"
                                    th:errorclass="form-field-error"></span>
                                </div>
                                  <div class="custom-radio custom-control ml-2 mr-2">
                                    <label class="custom-smile-form-label">Blocked Fund Date<span class="text-danger">&nbsp;*</span>
                                    </label> <input type="date" th:field="*{blockedfundDate}"
                                    class="form-control">
                                <span th:errors="*{blockedfundDate}" style="color: red"
                                    th:errorclass="form-field-error"></span>
                                  </div>
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                    <label class="custom-smile-form-label">Blocked Fund Remarks<span
                                        class="text-danger">&nbsp;&nbsp;*</span></label><textarea placeholder="Enter Remarks Here.." rows="3" th:field="*{remarks}"
                                        class="form-control"></textarea>
                                </div>
                            </div>
									<br>
									<div class="form-group row">
										<div class="col-sm-12 d-flex justify-content-center">		
											<input type="submit" class="btn custom-smile-btn-success ml-2 mr-2" value="Save"></input>
											<input type="submit" class="btn custom-smile-btn-submit ml-2 mr-2" value="Submit"></input>
										
							 		</div> 
							 		<p>Note:Use these buttons as required in your form.</p>
							 		
									</div>
									
								</div>
							
							
									<div class="tab-pane" id="WriteOffDetails">
									<form action="#" th:action="@{/addRecoveryDetailsList2}" th:object="${pebPolicyWriteOffBean}"
						method="post">	

							  <div class="form-group row ml-1 mr-1">
                               
                                <div class="custom-radio custom-control ml-2 mr-2" id="writeoff3" style="display: block;">
                                    <label class="custom-smile-form-label">Is Write-Off</label>
                                            <div class="custom-radio custom-control ml-2 mr-2">
                                                <input type="radio" th:field="*{IsWriteOff}" id="chkYes" onclick="ShowHideDiv()"
                                                value="Yes" class="custom-control-input">
                                                <label class="custom-control-label" for="chkYes">Yes</label>
                                            </div>
                                            <div class="custom-radio custom-control ml-2 mr-2">
                                                <input type="radio" th:field="*{IsWriteOff}" id="chkNo" onclick="ShowHideDiv()"
                                                value="No" class="custom-control-input">
                                                <label class="custom-control-label" for="chkNo">No</label>
                                            </div>
                                            <span th:errors="*{global}" style="color: red"
                                            th:errorclass="form-field-error"></span>
                                </div>
                                  <div class="custom-radio custom-control ml-2 mr-2">
                                      <label class="custom-smile-form-label">Write-Off Date<span class="text-danger">&nbsp;*</span>
                                            </label> <input type="date" th:field="*{writeOffDate}"
                                            class="form-control">
                                        <span th:errors="*{writeOffDate}" style="color: red"
                                            th:errorclass="form-field-error"></span>
                                  </div>
                                  <div class="col-sm-6 mb-3 mb-sm-0">
                                   <label class="custom-smile-form-label">Write Off Remarks<span
                                                class="text-danger">&nbsp;&nbsp;*</span></label><textarea placeholder="Enter Remarks Here.." rows="3" th:field="*{remarks}"
                                                class="form-control"></textarea>
                                </div>
                            </div>
									<br>
									<div class="form-group row">
										<div class="col-sm-12 d-flex justify-content-center">		
											<input type="submit" class="btn custom-smile-btn-success ml-2 mr-2" value="Save"></input>
											<input type="submit" class="btn custom-smile-btn-submit ml-2 mr-2" value="Submit"></input>
										
							 		</div> 
							 		<p>Note:Use these buttons as required in your form.</p>
							 		
									</div>
									
								</div>


						</div>
</div>
					</div>
					<!--end of card body-->
				</div>
				<!-- ACTUAL BODY CONTENT -->

			</div>
		

	</div>
	
	<th:block layout:fragment="scripts">	
		<script type="text/javascript">
		$(document).ready(function(){
			alert("hii");

			
			$('.table #editButton').on('click',function(event){	
				alert("hii1");
				event.preventDefault();
			//	debugger;
				var href=$(this).attr('href');
				$.get(href,function(response,status){
					debugger;
					
					$("#RecoveryAmount").val(response.recoveryAmount);
					$("#DateOfRecovery").val(response.dateOfRecovery);
					$("#DcaCharge").val(response.dcaCharge);
					$("#Remarks").val(response.remarks);
					$("#RecoveryInstance").val(response.recoveryInstance);
				});
				$("#updateModal").modal();
				
			});
			 
			$(" #addButton").on('click',function(event){	
				alert("hii1");
				event.preventDefault();
				//debugger;
				var href=$(this).attr('href');
				$.get(href,function(response,status){
				debugger;
					
					$("#RecoveryAmount1").val(response.recoveryAmount);
					$("#DateOfRecovery1").val(response.dateOfRecovery);
					$("#DcaCharge1").val(response.dcaCharge);
					$("#Remarks1").val(response.remarks);
					$("#RecoveryInstance1").val(response.recoveryInstance);
				});
				$("#addModal").modal();
				
			});
			 
		});
		</script>
	<!-- Page level custom scripts --> 
	

	
	</th:block>
	
</body>
</html>