<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{BaseLayout/layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>

/*style for loader*/
.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('/common/images/d-loading.gif') 50% 50% no-repeat
		rgb(249, 249, 249);
}
</style>

</head>
<body>

	<div id="page-wrapper" layout:fragment="content">
		<div class="loader"></div>

		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="indexwithsm">Home</a></li>
				<li class="breadcrumb-item active" aria-current="page">List Of
					Claim Forms</li>
			</ol>
		</nav>

		<div class="card shadow mb-4 mt-2 border-left-danger">

			<!--card header-->
			<div class="card-header custom-smile-form-header">
				List Of Claim Forms

				<!-- <button type="button"
					class="btn btn-primary btn-icon-split float-right btn-sm"
					data-toggle="modal" data-target="#myModal" id="idAddOption">
					<span class="icon "> <i class="fas fa-plus"></i>
					</span> <span class="text">Add New</span>
				</button> -->
			</div>
			<!--end of card header-->


			<div class="card-body">

				<table class="table table-bordered table-striped " id="example1"
					width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>Claim No</th>
							<th>Claim Application Date</th>
							<th>Gross Loss Value</th>
							<th>Claim Amount Approved</th>
							<th>ECGC Decision</th>
							<th>View</th>
							<th>Edit</th>
						</tr>
					</thead>

					<tfoot>
						<tr>
							<th>Claim No</th>
							<th>Claim Application Date</th>
							<th>Gross Loss Value</th>
							<th>Claim Amount Approved</th>
							<th>ECGC Decision</th>
							<th>View</th>
							<th>Edit</th>
						</tr>
					</tfoot>

					<tbody>
				
						<tr th:each="claim : ${listOfClaimSubmitted}">
							<!--  <input type="hidden" value="${proposal.key}" name=project.projectId"projectId"> -->
							<td><span th:text="${claim.claimNo}"> </span></td>
							<td><span th:text="${#dates.format(claim.claimApplicationDate, 'dd-MM-yyyy' )}"></span></td>
							<td><span th:text="${claim.grossLossValue}"> </span></td>
							<td><span
								th:text="${claim.claimProcessingBean.claimAmountApproved}"></span></td>
							<td><span th:text="${claim.claimProcessingBean.ecgcDecision}"> </span></td>
							<td>
							<!-- <a
								th:href="@{'/viewClaimDetails/' +  ${claim.claimNo}}"
								class="btn text-primary" id="claimViewButton"><i class="fas fa-eye fa-lg"></i></a> -->
								<form th:action="@{/claim/viewClaimDetails}" method="post">
									<input type="hidden" name="claimNo" id="claimNo" th:value="${claim.claimNo}">
									<button type="submit" class="btn btn-link"><i class="fas fa-eye fa-lg"></i></button>
								</form>
								</td>
							<td><!-- <a
								th:href="@{'/editClaimDetails/' +  ${claim.claimNo}}"
								class="btn text-warning" id="claimEditButton"><i class="fas fa-edit fa-lg"></i></a> -->
								<form th:action="@{/claim/editClaimDetails}" method="post">
									<input type="hidden" name="claimNo" id="claimNo" th:value="${claim.claimNo}">
									<button type="submit" class="btn btn-link text-warning"><i class="fas fa-edit fa-lg"></i></button>
								</form>
								</td>
						</tr>

					</tbody>
				</table>
				<span class="exportbuttons"> </span>
				<!-- </div> -->
				<!-- table responsive -->
			</div>
		</div>
		<!--end of card-->
	</div>
	<!-- /.container-fluid -->

	<!-- End of Main Content -->




	<!-- End of Content Wrapper -->


	<!-- End of Page Wrapper -->





	<!--export table js-->
	<th:block layout:fragment="scripts">

		<!-- Page level custom scripts -->

		<script>
    $(window).ready(function() {
      $('.loader').fadeOut(1000);
    });
     $(document).ready(function() {

   	  $(".view").on('click', function() {
   		 
   		  
     	    $('.case:checkbox:checked').parents("tr").remove();
     	  });
   	 $(".view").on('click', function() {
   		 
  	    $('.check:radio:checked').parents("tr").remove();
  	  });
          
    	 
    	  $(".edit").on('click', function() {
      	    $('.case:checkbox:checked').parents("tr").edit();
      	  });
     });  
    	  
    	  /*  $("body").on("click", ".btn-edit", function(){
    	        var name = $(this).parents("tr").attr('data-name');
    	        var email = $(this).parents("tr").attr('data-email');
    	    
    	        $(this).parents("tr").find("td:eq(0)").html('<input name="edit_name" value="'+name+'">');
    	        $(this).parents("tr").find("td:eq(1)").html('<input name="edit_email" value="'+email+'">');
    	    
    	        $(this).parents("tr").find("td:eq(2)").prepend("<button class='btn btn-info btn-xs btn-update'>Update</button><button class='btn btn-warning btn-xs btn-cancel'>Cancel</button>")
    	        $(this).hide();
    	    });
    	  

     $(document).ready(function() {
  	   var myTable = $('#example1').DataTable();
                $('#example1').on( 'click', 'tbody tr', function () {
      	      myTable.row( this ).edit();
      	  });
     }); */
  </script>

		<!-- Data Tables -->
		<script type="text/javascript"
			th:src="@{/webjars/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/datatables-buttons/js/dataTables.buttons.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/datatables-buttons/js/buttons.html5.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/webjars/datatables-buttons/js/buttons.print.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/datatablejs/pdfmake.min.js}"></script>
		<script type="text/javascript"
			th:src="@{/js/datatablejs/vfs_fonts.js}"></script>
		<script type="text/javascript" th:src="@{/js/exporttable.js}"></script>
		<script type="text/javascript" th:src="@{/js/buttonbootstrap4.js}"></script>


	</th:block>



	<!--js for loader--->



</body>
</html>